.home-list-body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.home-list-element {
	flex-basis: 33.33333333%;
	flex-grow: 0;
	min-width: 0px;
	display: flex;
	position: relative;
}

@media (max-width: 1024px) {
	.home-list-element {
		flex-basis: 50%;
	}
}

@media (max-width: 586px) {
	.home-list-element {
		flex-basis: 100%;
	}
}
