.nav {
	position: sticky;
	height: 40px;
	display: flex;
	align-items: center;
	background-color: #001329;
	justify-content: space-evenly;
	color: white;
}

.nav-container {
	max-width: 1140px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.link {
	cursor: pointer;
	padding: 8px;
}

.link a {
	text-decoration: none;
	color: inherit;
	font-weight: 400;
}

.link a:visited {
	text-decoration: none;
}

.link-active {
	color: #eb0404;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	z-index: 1;
	border-radius: 50%;
}
